<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
<%= link_to "Unlike", current_user.likes.find_by(post_id: post.id), method: "delete", remote: true %><br>
<% if post.likes.count == 0 %>
  <%= "Be the first to like this!" %>
<% else %>
  <%= pluralize(post.likes.count, 'person') %> liked this.
<% end %>