<% @users.each do |user| %>
  <% if !current_user.friends.include?(user) && !current_user.inverse_friends.include?(user) && current_user.id != user.id  %>
    <li><%= user.email %> <%= link_to "Add friend", friendships_path(friend_id: user.id, status: false), method: "post" %></li>
  <% end %>
<% end %>

