<div class="container">
  <h1>Users</h1>
  <ul class="list-group">
    <% @users.each do |user| %>
      <% if current_user.id == user.id || current_user.friends.include?(user) || current_user.inverse_friends.include?(user) || current_user.pending_friends.include?(user) || current_user.pending_inverse_friends.include?(user) %>
          <li class="list-group-item"><%= link_to user.email, user_path(user) %></li>
      <% else %>
         <li class="list-group-item clearfix"><%= link_to user.email, user_path(user) %> <span class="pull-right"><%= button_to "Add friend", friendships_path(friend_id: user.id, status: false), method: "post", class: "btn btn-sm" %></span></li>
      <% end %>
    <% end %>
  </ul>
</div>

