<div class="container">
  <h1>Friends</h1>
      <ul class="list-group">
        <% @friendships.each do |friendship| %>
          <% if current_user.id == friendship.user_id %>
            <li class="list-group-item"><%= friendship.friend.email %> <%= link_to "Remove", friendship, method: "delete" %></li>      
          <% elsif current_user.id == friendship.friend_id %>
            <li class="list-group-item"><%= friendship.user.email %> <%= link_to "Remove", friendship, method: "delete" %></li>
          <% end %>
      
        <% end %>
      </ul>

</div>
