<div class="container">
  <h1>Friends</h1>
      <ul class="list-group">
        <% if @friendships.empty? %>
          <li class="list-group-item">No friends to show.</li>
        <% else %> 
          <% @all_friends.each do |friend| %>
            <% friendship = @friendships.find { |i| i["user_id"] == friend.id || i["friend_id"] == friend.id } %>
            <li class="list-group-item clearfix"><%= link_to friend.email, user_path(friend) %><span class="pull-right"><%= button_to "Remove friend", friendship, method: "delete", class: "btn btn-sm" %></span></li>
          <% end %>
        <% end %>
      </ul>
</div>

