<div class="container">
  <h1>Friends</h1>
      <ul class="list-group">
        <% if @friendships.empty? %>
          <li class="list-group-item">No friends to show.</li>
        <% else %> 
          <% @friendships.each do |friendship| %>
            <% if current_user.id == friendship.user_id %>
              <li class="list-group-item clearfix"><%= link_to friendship.friend.email, user_path(friendship.friend) %><span class="pull-right"><%= button_to "Remove friend", friendship, method: "delete", class: "btn btn-sm" %></span></li>      
            <% elsif current_user.id == friendship.friend_id %>
              <li class="list-group-item clearfix"><%= link_to friendship.user.email, user_path(friendship.user) %><span class="pull-right"><%= button_to "Remove friend", friendship, method: "delete", class: "btn btn-sm" %></span></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
</div>


