@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px;
  background-color: #222;
  border-color:#080808;
  text-align: center;
  color:#9d9d9d;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.btn {
  margin-right: 5px;
}